<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<configuration debug="false">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/current_log.txt</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!-- rollover daily -->
      <fileNamePattern>logs/log-%d{yyyy-MM-dd}.%i.txt</fileNamePattern>
<!--      <minIndex>1</minIndex>
      <maxIndex>3</maxIndex>-->
       <!-- each file should be at most 10MB, keep 60 days worth of history, but at most 20GB -->
       <maxFileSize>100KB</maxFileSize>    
       <maxHistory>5</maxHistory>
       <totalSizeCap>4MB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="error">
    <appender-ref ref="STDOUT" />
  </root>
  
  <logger name="ru.npopm.dep715.searchdocs" level="info">
      <appender-ref ref="ROLLING" />
  </logger>
  
</configuration>